.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;
    display: grid;
    grid-template-rows:1fr min-content minmax(6rem,min-content)  1fr;
    grid-template-columns:minmax(min-content,max-content);
    background-image: linear-gradient(rgba($color-secondary,.93)
    ,rgba($color-secondary,.93)),url('/img/hero.jpeg');
    background-size: cover;
    background-position: center;
    padding:6rem;
    padding-top:4rem;
    row-gap: 1.5rem;
    justify-content: center;

    @media only screen and (max-width:$bp-medium) {
        grid-column: full-start / full-end;
    }
    @media only screen and (max-width:$bp-medium) {
        padding:4rem;
    }

    &__logo {
        height:3rem;
        justify-self: center;
    }
    &__seenon {
        &--pictures  {
            display: grid;
            grid-template-columns:repeat(4,1fr);
            column-gap:3rem;
            justify-items: center;
            align-items: center;
            img {
                max-height:2.5rem;
                max-width:100%;
                filter: brightness(70%);
               
            }
        }
        &--text {
            display: grid;
            grid-template-columns:1fr max-content 1fr;
            color:$color-grey-light-1;
            font-size:1.6rem;
            align-items:center;
            column-gap: 2rem;
            &::before,&::after {
                content: "";
                display: block;
                background-color:$color-grey-light-1;
                height:1px;
                filter: brightness(70%);
            }
        }
    }
    &__btn {
        justify-self: start;
        align-self:start;
    }
}
