.side-bar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row:1 / -1;

    @media only screen and (max-width:$bp-large) {
        grid-row:1 / span 1;
        grid-column: full-start / full-end;
    }
}   

.nav-btn {
    border: none;
    height: 2px;
    width: 4.5rem;
    margin-top:5rem;
    margin-left: 1.4rem;
    background-color: #fff;
    &::before,&::after {
        content: "";
        height: 2px;
        width: 4.5rem;
        display: block;
        background-color: #fff;
    }
    &::before {
       transform: translateY(-1.5rem); 
    }
    &::after {
       transform: translateY(1.5rem);
    }
    @media only screen and (max-width:$bp-large) {
        & {
            margin-top: 3rem;
        }
        &::before {
            transform: translateY(-1rem); 
         }
         &::after {
            transform: translateY(1rem);
         }
    }
}